<body>
  <div class="wrapper">
    <div class="side">
      <%# ユーザー情報 %>
      <div class="user-box">
        <div class="user-box__name">田中さんのマイページ
        </div>
        <div class="user-box__action">
          <div class="user-box__action__post">投稿</div>
          <div class="user-box__action__logouto">ログアウト</div>
        </div>
      </div>
      <%# 履歴一覧 %>
      <div class="list">行ったとこ
        <div class="list__visited">都道府県</div>
      </div>
    </div>
    
    <div class="main">
      <div class="upper-content">
        <div class="map">
          <%# 仮投稿機能 %>
          <div class="form">
            <div class="content">
              <%= form_for @content do |f| %>
                <%= f.text_field :visited, class: 'content__visited', placeholder: '県名を入力してください' %>
                <%= f.text_area :text, class: 'content__text', placeholder: '思い出を書き残そう！！' %>
                <%= f.label :image, class: 'content__image' do %>
                  <%= f.file_field :image, class: 'file' %>
                <% end %>
                <%= f.submit '投稿', class: 'content__submit' %>
              <% end %>
            </div>

        </div>
      </div>
    </div> 



        </div>
      </div>
    
      <div class="under-content">
        <div class="contents">
        <div class="content">
          <div class="content__visited"></div>
          <div class="content__image"></div>
          <div class="content__text"></div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class=footer>
    <address>えっ！？ まだ知らないの！！ これするだけで年収300万→→→年収1000万になるのに.....</address>
  </div>
  
</body>



