<body>
  <div class="wrapper">
    <div class="side">
      <%# ユーザー情報 %>
      <div class="user-box">
        <div class="user-box__name">田中さんのマイページ
        </div>
        <div class="user-box__action">
          <div class="user-box__action__post">投稿</div>
          <div class="user-box__action__logout">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
      <%# 履歴一覧 %>
      <div class="list">行ったとこ
        <div class="list__visited">都道府県</div>
      </div>
    </div>
    
    <div class="main">
      <div class="upper-content">
        <div class="map">
          <div id="map-container"></div>



          <%# 仮投稿機能 %><!--Creates the popup body-->
          <div class="popup-overlay">
            <%# ポップアップ記述 open %>
            <div class="popup-content">
              <div class="form">
                <div class="content">
                  <%= form_for @content do |f| %>
                    <%= f.select :visited, 
                      [["北海道", "北海道"],["青森"],["岩手"],["宮城"],["秋田"],
                      ["山形"],["福島"],["茨城"],["栃木"],["群馬"],
                      ["埼玉"],["千葉"],["東京"],["神奈川"],["新潟"],
                      ["富山"],["石川"],["福井"],["山梨"],["長野"],
                      ["岐阜"],["静岡"],["愛知"],["三重"],["滋賀"],
                      ["京都"],["大阪"],["兵庫"],["奈良"],["和歌山"],
                      ["鳥取"],["島根"],["岡山"],["広島"],["山口"],
                      ["徳島"],["香川"],["愛媛"],["高知"],["福岡"],
                      ["佐賀"],["長崎"],["熊本"],["大分"],["宮崎"],
                      ["鹿児島"],["沖縄"]], include_blank: "選択して下さい" %>
                    <%= f.text_area :text, class: 'content-text', placeholder: '思い出を書き残そう！！' %>
                    <%= f.label :image, class: 'content-image' do %>
                      <%= f.file_field :image, class: 'file' %>
                    <% end %>
                    <%= f.submit '投稿', class: 'content-submit' %>
                  <% end %>
                </div>
              </div>
              <%# ポップアップ記述 close %>
            <button class="close">Close</button></div>
          </div>
        </div>
      </div>

      <div class="under-content">
        <div class="contents">
          <% @contents.each do |content| %>
            <div class="show-content">
              <div class="content__visited">
                <%= content.visited %>
              </div>
              <div class="content__image">
                <%= image_tag content.image.url%>
              </div>  
              <div class="content__text" >
                <%= content.text %>
              </div>       
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class=footer>
      <%= link_to  "えっ！？ まだ知らないの！！ これするだけで年収300万→→→年収1000万になるのに....", href="https://www.google.com/webhp?hl=ja&amp;sa=X&amp;ved=0ahUKEwjlw_OMtP3lAhUaPXAKHQnsDWQQPAgH" %>
    
  </div>
</body>

