<!DOCTYPE html>
<html>
  <head>
    <title>Ashiato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <%# japan map設定 %>
    <%# <script src="//code.jquery.com/jquery-1.12.0.min.jss"></script> %>
    <%# <script src="app/assets/javascripts/japanMap/jquery.japan-map.min.js"></script> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>